
@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Noto+Sans+Tamil:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');



/* Global variables */

:root{
    --primary:#12bdff;
    --dark-primary:#1b1f24;
    --primary-hover:#0c8ec2;
}




*{

margin: 0%;
padding: 0%;
box-sizing: border-box;



}
html{

  scroll-behavior: smooth;
}

body{

font-family: 'nunito sans',sans-serif;

}




header{

    background-color:var(--dark-primary);
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header ul{
list-style: none;
display: flex

}

header ul li{

margin-right: 20px;

}
/* logo */

header .logo{

color: var(--primary);
font-weight: bold;
letter-spacing:2px;


}

header div a{

    text-decoration: none;
}


  header ul li a{

    color: #fff;
    text-decoration: none;
    
    
}


header ul li a:hover{

color: var(--primary);


}


/* Section-Hero home page */

section.hero-section{

       background-color: var(--dark-primary);
        color: #fff;
        display: flex;
        align-items: center;
        padding: 20px 30px 0 30px;
        
       

}
.hero-img--section{

     font-size: 50px;
     font-weight: 900;
     
}

.hero-img--section > span{

    color: var(--primary);
}


 
.hero-section-dic{

    color: azure;
}

.social-icons{


margin: 20px 0;

}
.social-icons li{

    margin-right: 15px;

}
ul.social-icons {

   list-style: none;
   display: flex;


}

.social-icons li a{

   text-decoration: none;
   color: #fff;

}
.social-icons li a > i.fa-facebook:hover{
     color: #0866FF;

}
.social-icons li a > i.fa-linkedin:hover{
    color: #0072b1 ;


}
.social-icons li a > i.fa-instagram:hover{
  color: #feda75;


}
.social-icons li a > i.fa-twitter:hover{
color: #26a7de;
}
/* buttons */


.hero-buttons button{

margin-right: 10px;
    
}


.btn{
padding: 10px 20px;
border-radius: 2px;
border: none;
cursor: pointer;
}
.btn.btn-primary{

  background-color: var(--primary);
  font-weight: 600;
  color: var(--dark-primary);

}
.btn.btn-primary:hover{

 background-color: var(--primary-hover);

}

/* header > buttons */


.btn-dark-outlined{  
   background-color: var(--dark-primary);
   border: 1px solid var(--primary);
   color: var(--primary);
   border-radius:5px ;
   font-weight: 600;
   


}

.btn-dark-outlined:hover{
    
    cursor: pointer;
    background-color: var(--primary);
    color: #fff;
}


    /*About me section  */

    .about-section{
      
        background-color: #22282f;
        color: #fff;
        padding: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        
    }

    .about-section img{
   
        width: 250px;
        border-radius: 10px;
        border: 3px solid var(--primary);
       box-shadow: 3px 5px 40px #03506e;
      

    }
    
    
    .about-section--desc{
            
       margin: 50px 100px;
       max-width: 400px;
      

    }
    .about-section--desc h4 > span{
        color: var(--primary);
    }

   .about-section--desc h4{

     font-size: 30px;
     font-weight: 900;

   }

   .about-section--desc ul{

    list-style: none;
    margin: 10px 0;
   }
   .about-section--desc li{

     margin-bottom: 8px;
     color: gray;

   }

   .about-section--desc li > a{

     text-decoration: none;
     color: gray;
   }
   .about-section--desc li > a:hover{
 
      color: var(--primary-hover);



   }
   .about-section--desc li > strong{

     color: #fff;

   }

   /* work section */

   .work-section{

   background-color: var(--dark-primary);
   color: #fff;
   padding:  60px;
   text-align: center;

   }

   .work-section--tittle{

    font-size: 30px;
    font-weight: 900;
    margin-bottom: 30px;

   }
   .work-section--tittle > span{

    color: var(--primary);
   }


   .work-section-items{

    display: flex;  
    justify-content: center;
    margin-top: auto;
       
  
  }

   .work-section-box{

    background-color: #22282f; 
    padding: 30px;
    max-width: 300px;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 40px;
    border: 1px solid var(--primary);
    box-shadow: 2px 3px 10px #03506e;
    
    

   }
   .work-section-box:hover{

   background-color: #14171c;
   

   }

   .work-section-box p{

    color: gray;
    font-size: 14px;
   }

   .work-section-box a{

 text-decoration: none;
 color: #feda75;

   }

   .work-section-box--desc{
  margin-top: 20px;
  margin-bottom: 10px;
  

   }
   .work-section-box--desc p{

    padding-top: 5px;
   }

   .work-section-box--icon{

  background-color: var(--primary);
  padding: 10px;
  border-radius: 50%;
 
   }
   .work-section-box--icon:hover{
background-color: var(--primary-hover);

   }
    
   /* contact CSS */

   .contact-section{

    background-color: #14171c;
    padding: 40px;
    color: #fff;
    text-align: center;
   

   }
   .contact-section h4{

   font-size: 30px;
   margin: 20px 0;
   font-weight: 700;

   }
   .contact-section h4 span{

    color: var(--primary);
   }

   
   .contact-section form div > input,textarea{

    padding: 5px 10px;
    outline:none ;
    width: 300px;
    background-color: #f3f0e8;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
     resize: none;
     font-family: 'nunito sans',sans-serif;
    
     
   }
   /* footer */
   footer{
     background-color: var(--dark-primary);
     color:gray;
     padding: 20px 0;
     text-align: center;
     font-size: 14px;

   }
   footer a{
   text-decoration: none;
   color: #12bdff;

   }

   /* media queries */

   @media only screen and (max-width: 600px) {
    header {
      flex-direction: column;
    }
  
    header > *{
      margin-bottom: 10px;
    }
    /* hero-section */
    section.hero-section{
      flex-direction: column;
      padding: 40px;
    }
    /* about-section */
    section.about-section{
      flex-direction: column;
     
    }
    .about-section--desc{
      
      margin-top: 30px;
    }
    /* my work */
    .work-section{
      padding: 30px 10px;
    }

    .work-section-items{
      flex-direction: column;
     align-items: center; 
    }
    .work-section-box{
      margin-bottom: 20px;
      width: 100%;
    }
    /* contect-section */
    .contact-section form input,textarea{
      width: 100%;
    }
  }
                        